---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

    {% include index/description.html %}
    
    {% include feature/card.html text="Nature Poems was created by the second graders in Mrs. McNally’s class at Lena Whitmore Elementary during the 2017-2018 school year." title="Featured Book!" objectid="guidedread059" width="75" %}
    
  </div>
  <div class="col-md-4">  
       
    {% include index/featured-terms.html field="grade-level" title="Grade Level" btn-color="info" featured='kindergarten;first;second;third;fourth;fifth;sixth' max=7 %}

    {% include index/time.html %}
    
    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" featured=site.data.theme.featured-subjects max=site.data.theme.featured-subjects-max %}

    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>
